.abt-brief::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--clr-white);
  top: 48%;
  left: -4rem;
}

.abt-brief::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--clr-white);
  top: 48%;
  left: 11rem;
}

/* xs */
@media (min-width: 475px) {
  .abt-para {
    font-size: 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .abt-para {
    font-size: 1.2rem;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .abt-para {
    font-size: 1.5rem;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
