/* lg */
@media (min-width: 1024px) {
  .stf-p::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: var(--clr-black);
    top: 50%;
    left: -5rem;
  }

  .stf-p::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: var(--clr-black);
    top: 50%;
    left: 39rem;
  }
}
