/* lg */
@media (min-width: 1024px) {
  .mid-title::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: var(--clr-black);
    top: 50%;
    left: -23%;
  }

  .mid-title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: var(--clr-black);
    top: 50%;
    left: 101%;
  }
}