.details-img::after {
  content: "";
  position: absolute;
  background-color: var(--clr-black);
  width: 5px;
  height: 80px;
  top: 0;
  right: -20px;
}

.client-rol,
.client-det {
  font-size: 0.8rem;
}
